/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Montserrat:wght@200;400;500;600&family=Noto+Sans:wght@100;200;300;400;500&family=Raleway:wght@100&display=swap");

body {
  font-family: "Raleway", sans-serif;
  /* font-weight: 700; */
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.main-grid {
  display: grid;
  grid-template-rows: 5rem 1fr;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 745px) {
}

.main-content {
}

.icon-text {
  display: none;
  font-size: 0.8rem;
  margin-left: 0.6rem;
}

@media (min-width: 1060px) {
  .sidebar:hover .icon-text {
    display: block;
  }
}

/* pulsar logo */
.pulsar-logo-box {
  /* border: 2px solid blue; */
  overflow: hidden;
}
.pulsar-logo {
  /* border: 2px solid green; */
  animation-name: pulsar;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: translateX(0rem);
}
.pulsar-logo-box:hover .pulsar-logo {
  animation-play-state: paused !important;
}

@keyframes pulsar {
  0% {
    transform: translateX(90rem);
  }
  100% {
    transform: translateX(-90rem);
  }
}

/* specification table */
.specification-table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
}
.specification-table__inside {
  margin: 0.5rem;
}
.specification-table__inside h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
}
.specification-table__inside p {
}
